<div class="panel panel-default">

    <button class="btn btn-primary btn-block" (click)="showForm = !showForm">Show Form <span class="caret"></span></button>
    <div class="panel-heading">
      <strong>Todo Task</strong>
    </div>
    <div class="panel-body" [class.showTodoForm]="showForm">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" class="form-control" #titleInput>
      <label for="content">Content:</label>
      <textarea name="content" id="content" rows="7" class="form-control" #contentInput></textarea>
      <button class="btn-sm btn-success btn-block" (click)="onAddTask()">Add Task</button>
      <button class="btn-sm btn-warning btn-block" (click)="clearForm()">Cancel</button>
    </div>
</div>
